<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{event?.name}}</h2>
  <div>Date: {{event?.date | date}}</div>

  <div [ngClass]="getTimeColorClass()">
    Time: {{event?.time}}

  </div>

  <div>Price: ${{event?.price | currency}}</div>
  <div *ngIf="event?.location">
    <span class="text-info">{{event?.location?.address}}</span>
    <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
  </div>
  <div *ngIf="event?.onlineUrl">
    <span class="text-info">{{event?.onlineUrl}}</span>
  </div>
